<div style='display: flex; flex-wrap: wrap; gap: 20px;'>
	<div id='user-info'>
	</div>

	<div id='change-password'>
		<h1>Смена пароля</h1>
		<form id='password-form'>
			<label for='old-password'>Старый пароль:</label><br />
			<input
				type='password'
				id='old-password'
				name='old-password'
				minlength='6'
			/><br /><br />
			<label for='new-password'>Новый пароль:</label><br />
			<input
				type='password'
				id='new-password'
				name='new-password'
				minlength='6'
			/><br /><br />
			<div id='errorMessage'></div>
			<div id='message'></div>
			<button type='submit'>Изменить пароль</button>
		</form>
	</div>

	<div id='order-history'>
		<h2>История заказов</h2>
		<table id='order-list'></table>
	</div>
</div>

<script src='script/profile.js'></script>